{% load static %}
{% load humanize %}
  <!-- Brand Start -->
        <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider">
                    <div class="brand-item"><img src="{% static '/img/1.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static '/img/1.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static '/img/1.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static '/img/1.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static '/img/1.png' %}" alt=""></div>
                    <div class="brand-item"><img src="{% static '/img/1.png' %}" alt=""></div>
                </div>
            </div>
        </div>
        <!-- Brand End -->
        <!-- section -->
        <div class="brand">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <!-- Image -->
                 <div class="row">
                     <div class="col-md-12">
                         <h2 style="font-weight: 500; text-align: center;padding: 55px 3px; line-height: 51px;">VẺ ĐẸP HOÀNG MỸ<br> nhat</h2>
                     </div>
                     <div class="col-lg-6">
                         <img style="border: 1px solid #ff17aa; border-radius: 4px; padding: 5px;" src="/static/img/ANH1.png" alt="Trulli" >

                     </div>
                     <div class="col-lg-6">
                         <img style="border: 1px solid #ff17aa; border-radius: 4px; padding: 5px;" src="/static/img/ANH2.png" alt="Trulli" >
                     </div>

                </div>

        </div>
        <!-- /section -->
        <!-- Feature Start-->
        <div class="feature">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="feature-content">

                             <h2 class="txt_css01" ></h2>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-content">
                             <img class="image001" src="/static/img/image5.png" alt="Trulli" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="feature-content">
                             <img class="image001"  src="/static/img/anh4.png" alt="Trulli" >
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Feature End-->




        
        <!-- Feature Start-->
        <div class="feature">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fab fa-cc-mastercard"></i>
                            <h2>Thanh toán</h2>
                            <p>
                                Bảo mật tuyệt đối
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-truck"></i>
                            <h2>Vận chuyển nhanh</h2>
                            <p>
                                Hỗ trợ vận chuyển nhanh trong VIET NAM
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-sync-alt"></i>
                            <h2>90 Ngày trả sản phẩm</h2>
                            <p>
                                Trong vòng 90 ngày bạn có thể đổi trả sản phẩm
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-comments"></i>
                            <h2>Hỗ trợ 24/7 </h2>
                            <p>
                                Luôn luôn hỗ trợ khách hàng
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End-->
        <!-- summer-->
        <div class="category">
            <div class="col-lg-12 css_sdg1">
                <div class="container-fluid">
                     <span>GIẢM GIÁ MẠNH</span>
                     <p>Mùa hè 2021</p>
                     <strong>SALE 30% trong tháng 10</strong>
                </div>
            </div>
        </div>
        <!-- sumer End-->
{#        <!-- Category Start-->#}
{#        <div class="category">#}
{#            <div class="container-fluid">#}
{#                <div class="row">#}
{#                    <div class="col-md-3">#}
{#                        <div class="category-item ch-400">#}
{#                            <img src="{% static 'img/category-3.jpg' %}" alt="Slider Image" />#}
{#                            <a class="category-name" href="">#}
{#                                <p>Sản phẩm tốt nhất</p>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-3">#}
{#                        <div class="category-item ch-250">#}
{#                            <img src="{% static 'img/category-4.jpg' %}" alt="Slider Image" />#}
{#                            <a class="category-name" href="">#}
{#                                <p>Sản phẩm tốt nhất</p>#}
{#                            </a>#}
{#                        </div>#}
{#                        <div class="category-item ch-150">#}
{#                            <img src="{% static 'img/category-5.jpg' %}" alt="Slider Image" />#}
{#                            <a class="category-name" href="">#}
{#                                <p>Sản phẩm tốt nhất</p>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-3">#}
{#                        <div class="category-item ch-150">#}
{#                            <img src="{% static 'img/category-6.jpg' %}" alt="Slider Image" />#}
{#                            <a class="category-name" href="">#}
{#                                <p>Sản phẩm tốt nhất</p>#}
{#                            </a>#}
{#                        </div>#}
{#                        <div class="category-item ch-250">#}
{#                            <img src="{% static 'img/category-7.jpg' %}" alt="Slider Image" />#}
{#                            <a class="category-name" href="">#}
{#                                <p>Sản phẩm tốt nhất</p>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-3">#}
{#                        <div class="category-item ch-400">#}
{#                            <img src="{% static 'img/category-8.jpg' %}" alt="Slider Image" />#}
{#                            <a class="category-name" href="">#}
{#                                <p>Sản phẩm tốt nhất</p>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- Category End-->       #}
        
        <!-- Call to Action Start -->
        <div class="call-to-action">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1>Liên hệ tới chúng tôi</h1>
                    </div>
                    <div class="col-md-6">
                        <a href="#">nhat2020@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action End -->       
        
        <!-- Featured Product Start -->
        <div class="featured-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>Sản phẩm mới nhất</h1>
                </div>
                <div class="row align-items-center product-slider product-slider-4">
                    {% for rs in products_slider %}
                    <div class="col-lg-3">
                        <div class="product-item">

                            <div class="product-image">
                                <a href="/san-pham/{{ rs.id }}/{{ rs.slug }}">
                                    <img class="css_image_product1" src="{{ rs.image.url }}" alt="Product Image">
                                </a>
{#                                <div class="product-action">#}
{#                                    <a href="#"><i class="fa fa-cart-plus"></i></a>#}
{#                                    <a href="#"><i class="fa fa-heart"></i></a>#}
{#                                    <a href="#"><i class="fa fa-search"></i></a>#}
{#                                </div>#}
                            </div>
                            <div class="product-title">
                                <a href="#">{{ rs.title }}</a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-price">

                                <h3>{{ rs.price | intcomma:False }}<span> VND</span></h3>
                                <a class="btn" href="/san-pham/{{ rs.id }}/{{ rs.slug }}"><i class="fa fa-shopping-cart"></i>Xem thêm</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Featured Product End -->       
        
        <!-- Newsletter Start -->
        <div class="newsletter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Email của bạn</h1>
                    </div>
                    <div class="col-md-6">
                        <div class="form">
                            <input type="email" value="Mời bạn nhập">
                            <button>Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter End -->        
        
        <!-- Recent Product Start -->
        <div class="recent-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>Tất cả sản phẩm</h1>
                </div>
                <div class="row align-items-center product-slider product-slider-4">

                            {% for rs in product %}
                    <div class="col-lg-3">
                        <div class="product-item">

                            <div class="product-image">
                                <a href="product-detail.html">
                                    <img src="{{ rs.image.url }}" alt="Product Image" class="css_image_product1">
                                </a>
{#                                <div class="product-action">#}
{#                                    <a href="#"><i class="fa fa-cart-plus"></i></a>#}
{#                                    <a href="#"><i class="fa fa-heart"></i></a>#}
{#                                    <a href="#"><i class="fa fa-search"></i></a>#}
{#                                </div>#}
                            </div>
                            <div class="product-title">
                                <a href="#">{{ rs.title }}</a>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-price">
                                <h3>{{ rs.price | intcomma:False }}<span> VND</span></h3>
                                <a class="btn" href="/san-pham/{{ rs.id }}/{{ rs.slug }}"><i class="fa fa-shopping-cart"></i>Xem thêm</a>
                            </div>

                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Recent Product End -->






        <!-- baner1 summer -->
        <div class="review">
            <div class="container-fluid" style="background-color: #e2e2e2">

                <div class="col-lg-12">

                         <div class="container-fluid css_contai1" >
                                <div class="col-md-12">
                                  <h1 class="css_h1">SHOP</h1>
                                  <h2 class="css_h2">Đến với chúng tôi</h2>
                                  <!-- Three columns of text below the carousel -->
                                </div>
                              <div class="row">
                                <div class="col-lg-4 css_6">
                                  <a target="_self" href="#" class="imgButton one">
                                    <img src="/static/img/tutin1.png" class="img-circle" alt="A Purrty Kitten" width="250" height="250" alt="sang trọng"></a>
                                  <h3 class="css_h3">đẹp nhất</h3>
                                </div>
                                <!-- /.col-lg-4 -->
                                <div class="col-lg-4 css_6">
                                  <a target="_self" href="#" class="imgButton two">
                                    <img class="img-circle" src="/static/img/quyenru01.png" alt="A Dog with Red Bow" width="250" height="250" alt="A Dog Photo"></a>
                                  <h3 class="css_h3">Tự tin</h3>
                                </div>
                                  <div class="col-lg-4 css_6">
                                  <a target="_self" href="#" class="imgButton trh">
                                    <img class="img-circle" src="/static/img/xinhdep1.png" alt="A Dog with Red Bow" width="250" height="250" alt="A Dog Photo"></a>
                                  <h3 class="css_h3">Xinh đẹp</h3>
                                </div>

                              </div>
                              <!-- /.row -->
                         </div>
                </div>
            </div>
        </div>
        <!-- baner1 summer End -->