{% load static %}
<!-- Main Slider Start -->
        <div class="header">

            <div class="container-fluid">
                <div class="row">

                    <div style="padding: 0px;" class="col-md-12">
                        <div class="header-slider normal-slider">
                            <div class="header-slider-item">
                                <img style="width: 100%; height: 100%"  src="{% static '/img/image_1.png' %}" alt="Slider Image" />
                            </div>
                            <div class="header-slider-item">
                                <img style="width: 100%; height: 100%"  src="{% static '/img/image_2.png' %}" alt="Slider Image" />
                            </div>
                            <div class="header-slider-item">
                                <img style="width: 100%; height: 100%"  src="{% static '/img/image_3.png' %}" alt="Slider Image" />
                            </div>

{#                            <div class="header-slider-item">#}
{#                                <img src="{% static 'img/5.png' %}" alt="Slider Image" />#}
{#                                <div class="header-slider-caption">#}
{#                                    <p>Sảm phẩm đang khuyến mãi</p>#}
{#                                    <a class="btn" href="/san-pham/"><i class="fa fa-shopping-cart"></i>Cửa Hàng</a>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="header-slider-item">#}
{#                                <img src="{% static 'img/4.png' %}" alt="Slider Image" />#}
{#                                <div class="header-slider-caption">#}
{#                                    <p>Sản phẩm mới nhất</p>#}
{#                                    <a class="btn" href="/san-pham/"><i class="fa fa-shopping-cart"></i>Cửa Hàng</a>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Main Slider End -->